
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Ejercicio1", "ejer1")
<br />
@Html.ActionLink("Ejercicio2", "ejer2")
<br />
@Html.ActionLink("Ejercicio3", "ejer3")
<br />
@Html.ActionLink("Ejercicio4", "ejer4")
<br />
@Html.ActionLink("EjercicioPrimos", "primos")<br />

@Html.ActionLink("EjercicioPares", "pares")
<br />

